div.contents
{
  max-width:55em;
}

p, dl.warning, dl.attention, dl.note
{
  text-align:justify;
}

li {
  text-align:justify;  
}

div.fragment {  
  display: table;
}

table.doxtable, table.example th, table.manual th, table.manual-vl th {
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: left;
  padding-right: 1em;
  color: #555555;
  background-color: #F4F4E5;
  
  background-image: -webkit-gradient(linear,center top,center bottom,from(#FFFFFF), color-stop(0.3,#FFFFFF), color-stop(0.30,#FFFFFF), color-stop(0.98,#F4F4E5), to(#ECECDE));
  background-image: -moz-linear-gradient(center top, #FFFFFF 0%, #FFFFFF 30%, #F4F4E5 98%, #ECECDE);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4E5');
}

table.doxtable td, table.example td, table.manual td, table.manual-vl td {
  vertical-align:top;
  border-width: 1px;
  border-color: #cccccc;
}


h2 {
  margin-top:2em;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #cccccc;
}

div.toc {
  width:40%;
  margin-right:0;
}